
/* YourComponent.css */

/* Initial styles for the .fade-border class */
.fade-border {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  transition: border 5s ease;
  overflow: hidden;
}

.fade-color{
  border: 2px solid green;
}

/* Styles for the ::before pseudo-element */
/* .fade-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #ff6600;
}

/* Animation styles for the .animate class */
/* .animate {
  animation-name: borderFade;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}


@keyframes borderFade {
  from {
    border-color:  #ff6600;
  }
  to {
    border-color: green; 
  }
} */

